# {{ ansible_managed }}
# supervisord - instance: {{ supervisord_instance_name }}

description "Manage supervisord instance: {{ supervisord_instance_name }}"

start on (filesystem and runlevel [2345])
stop on runlevel [!2345]

{% if supervisord_nofile %}
limit nofile {{supervisord_nofile}} {{supervisord_nofile}}
{% endif %}

respawn
respawn limit 10 5

# If you use Upstart 1.4 or newer, put console log into your Upstart job and all the output to stdout/stderr will end up to /var/log/upstart/<job>.log
console log

exec {{ supervisord_bin }} -c {{ supervisord_conf_file }} --nodaemon

kill timeout {{ supervisord_kill_timeout | default(60) }}
